.intro__container {
    font-family: Gilroy, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 1.125rem;
    line-height: 1.2;
    display: flex;
    justify-content: space-between;
    color: var(--white-color);
}

@media screen and (max-width: 425px) {
    .intro__container {
      flex-direction: column-reverse;
    }
}