.popular{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 1rem;
}
.popular-title{
    font-size: 1.5rem;
    text-align: center;
    margin: 2rem auto;
}
